* {
    box-sizing: border-box;
}
.row{
  width: auto;
}
[class*='col-'] {
  float: left;
}
.col-l0 {
  display: none;
}

@media( max-width: 50em) {
  .col-m0 {
     display: none;
   }
}
@media( max-width: 31.25em) {
  .col-s0 {
     display: none;
   }
}
.col-l1 {
  width: 8.33%;
}

@media(max-width: 50em) {
  .col-m1 {
    width: 8.33%;
  }
}
@media(max-width: 31.25em) {
  .col-s1 {
    width: 8.33%;
  }
}

.col-l2 {
  width: 16.66%;
}
@media(max-width: 50em) {
  .col-m2 {
    width: 16.66%;
  }
}
@media(max-width: 31.25em) {
  .col-s2 {
    width: 16.66%;
  }
}
.col-l3 {
  width: 24.99%;
}

@media(max-width: 50em) {
  .col-m3 {
    width: 24.99%;
  }
}
@media(max-width: 31.25em) {
  .col-s3 {
    width: 24.99%;
  }
}
.col-l4 {
  width: 33.32%;
}
@media(max-width: 50em) {
  .col-m4 {
    width: 33.32%;
  }
}
@media(max-width: 31.25em) {
  .col-s4 {
    width: 33.32%;
  }
}
.col-l5 {
  width: 41.65%;
}
@media(max-width: 50em) {
  .col-m5 {
    width: 41.65%;
  }
}
@media(max-width: 31.25em) {
  .col-s5 {
    width: 41.65%;
  }
}
.col-l6 {
  width: 49.98%;
}
@media(max-width: 50em) {
  .col-m6 {
    width: 49.98%;
  }
}
@media(max-width: 31.25em) {
  .col-s6 {
    width: 49.98%;
  }
}
.col-l7 {
  width: 58.31%;
}
@media(max-width: 50em) {
  .col-m7 {
    width: 58.31%;
  }
}
@media(max-width: 31.25em) {
  .col-s7 {
    width: 58.31%;
  }
}
.col-l8 {
  width: 66.64%;
}
@media(max-width: 50em) {
  .col-m8 {
    width: 66.64%;
  }
}
@media(max-width: 31.25em) {
  .col-s8 {
    width: 66.64%;
  }
}
.col-l19 {
  width: 74.97%;
}
@media(max-width: 50em) {
  .col-m9 {
    width: 74.97%;
  }
}
@media(max-width: 31.25em) {
  .col-s9 {
    width: 74.97%;
  }
}
.col-l10 {
  width: 83.30%;
}
@media(max-width: 50em) {
  .col-m10 {
    width: 83.30%;
  }
}
@media(max-width: 31.25em) {
  .col-s10 {
    width: 83.30%;
  }
}
.col-l11 {
  width: 91.63%;
}
@media(max-width: 50em) {
  .col-m11 {
    width: 91.63%;
  }
}
@media(max-width: 31.25em) {
  .col-s11 {
    width: 91.63%;
  }
}
.col-l12 {
  width: 100%;
}
@media(max-width: 50em) {
  .col-m12 {
    width: 100%;
  }
}
@media(max-width: 31.25em) {
  .col-s12 {
    width: 100%;
  }
}


// Side Nav
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 4em;
}

.sidenav a {
    padding: .3125em .3125em .3125em 2em;
    text-decoration: none;
    font-size: 1.3em;
    color: #818181;
    display: block;
    transition: 0.7s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: .1em;
    font-size: 1.5em;
    margin-left: 3em;
}

@media screen and (max-height: 30em) {
  .sidenav {padding-top: 1em;}
  .sidenav a {font-size: 1em;}
}
video, iframe {
    border: .1em solid #ddd; /* Gray border */
    border-radius: .3125em;  /* Rounded border */
    padding: .3125em; /* Some padding */
    width: 80%;
    height:auto;
    margin: .5em;
    @media only screen and (max-width: 50em){
      width: 90%; //slightly wider
    }
    @media only screen and (max-width: 31.25em){
      width: 100%; // full width on mobile
    }
}


img{
    max-width: 20em;
    height: 15em;
    border: .03em solid blue;
    box-sizing: content-box;
    @media only screen and (max-width: 50em){
      max-width: 13em;
      height: 10em;
    }
    @media only screen and (max-width: 31.25em){
      width: 100%; // full width on mobile
    }
}



/* Add a hover effect (blue shadow) */
img:hover {
    box-shadow: 0 0 .1em .1em rgba(0, 140, 186, 0.5);
}

.Set-Columns(@numCols){
    -webkit-column-count: @numCols; /* Chrome, Safari, Opera */
    -moz-column-count: @numCols; /* Firefox */
    column-count: @numCols;
  }
#welcomepara{
    @media only screen and (max-width: 31.25em){
      .Set-Columns(3);
    }
  }

p {
  padding: .5 em;
}
#links {
background-color: Gainsboro;
}

#tips {
background-color: NavajoWhite;
}

#sideList {
background-color: PowderBlue;
}

@company-color: red;
@hilight-color: yellow;
footer {
background:yellow;
font-size: 1em;
text-align: center;
color: black;
}
